/* *{outline: red solid} */

@import url(bootstrap.css);

footer .nav-link{
	color:var(--bs-light);
}

footer .nav-link:hover {
	color: var(--bs-primary);
}

.nav-pills .nav-link{
	color: var(--bs-secondary);
}

.nav-pills .nav-link:is(:hover,.active) {
	color: var(--bs-secondary) !important;
	background-color: var(--bs-primary);
	font-weight: bold;
}

.nav-link{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

::-webkit-scrollbar{
	width: 0.5rem;
}

::-webkit-scrollbar-track{
	background-color: var(--bs-light);
}

::-webkit-scrollbar-thumb{
	background-color: var(--bs-secondary);
	border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--bs-primary);
}

.bg-landing{
	background: url("/public/landing.jpg") no-repeat center/cover,var(--bs-secondary);
	background-blend-mode: soft-light;
}

.loginWidth{
	width: 40rem;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(97,
		255,
		126, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97,
		255,
		126, 0.6);
	outline: 0 none;
}

::selection{
	background-color: var(--bs-primary);
	color: var(--bs-secondary);
}

.scrollLayout::-webkit-scrollbar{
	height: 0;
	
}

.scrollLayout::before{
	content: "";
	background: linear-gradient(to right, transparent, var(--bs-light));
	position: absolute;
}

.bg-secondary-toggle{
	background-color: var(--bs-secondary) !important;
}

.bg-secondary-toggle:is(:hover,.active) {
	background-color: var(--bs-secondary-text-emphasis) !important;
}

.fa-custom{
	font-size: 2rem;
}

@media screen and (max-width:500px) {
	.loginWidth {
			width: auto;
		}

		.fa-custom{
			font-size: 3rem;
		}
}

.contentContinum{
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	color: var(--bs-primary-text-emphasis);
}

a{
	color:var(--bs-secondary-text-emphasis);
}

a:hover{
	color: var(--bs-secondary);
}